body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: blue;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button{
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h3{
    color: pink;
}

h5{
    color: green;
}